.menu-container {
  width: 256px;
  cursor: pointer; }
  .menu-container > .menu {
    border-right: 1px solid #e8e8e8; }
    .menu-container > .menu .menu-submenu {
      position: relative; }
      .menu-container > .menu .menu-submenu .menu-submenu-title {
        position: relative;
        padding: 0 16px;
        margin: 4px 0;
        height: 40px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.65); }
        .menu-container > .menu .menu-submenu .menu-submenu-title a {
          color: rgba(0, 0, 0, 0.65); }
        .menu-container > .menu .menu-submenu .menu-submenu-title .menu-submenu-arrow {
          position: absolute;
          top: 50%;
          right: 16px;
          margin-top: -9px; }
      .menu-container > .menu .menu-submenu > ul {
        height: 48px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    .menu-container > .menu .menu-close > ul {
      height: 0;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0; }
